.item {
  margin: 1rem 0;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  background-color: #c2e7f0;
}

.item a {
  width: auto;
  text-align: center;
}

.item:last-of-type {
  border-bottom: none;
}

.item figure {
  margin: 0;
  padding: 0;
  width: 70%;
}

.item blockquote {
  margin: 0;
  text-align: left;
  font-size: 1.3rem;
  color: #212929;
}

.item p {
  margin: 0;
  margin-bottom: 0.25rem;
}

.item figcaption {
  font-style: italic;
  color: #566d6d;
}

@media screen and (min-width: 424px) {
  .item a {
    width: fit-content;
    margin-left: auto;
  }
}

@media screen and (min-width: 767px) {
  .item {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }
}

/* @keyframes item-move-up {
  0% {
    opacity: 0;
    transform: translate(0, 50%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
@keyframes item-move-down {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 0;
    transform: translate(0, 50%);
  }
} */
.click {
  animation: show-on 0.2s ease-out;
}
@keyframes show-on {
  0% {
    opacity: 0;
    transform: translateY(20%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes show-off {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
